/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  margin-right: 4px;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  background: #392d39;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

header{
  width: 30%;
  height: 100px;
  float: left;
  background: -moz-radial-gradient(#473847 40%,#392d39 50%);
}

header img{
	width: 100%;
	max-width: 100px;
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#user{
	width: 70%;
	height: 50px;
	float: right;
}

#user img{
	margin-top: 5px;
	max-width: 40px;
	height: 40px;
	float: right;
	margin-right: 5px;
}

#user a{
	color: #0099cc;
}

#user p{
	float: right;
	margin-top: 14.5px;
	margin-right: 5px;
}

#user span{
	float: right;
	margin-top: 14.5px;
	margin-right: 25px;
}

nav{
	width: 70%;
	height: 50px;
	float: right;
}

ul{
	width: 100%;
	height: 100%;

}

li{
	margin-right: 0.75%;
	width: 24.25%;
	height: 100%;
	float: left;
	background: #ffffff;
	border-radius: 10px;	
  	color: #004d00;
  	text-align: center;
  	vertical-align: bottom;
}

li p{
	margin-top: 14.5px;
	font-family: 'Josefin Sans', sans-serif;
  	text-decoration: none;
  	font-size: xx-large;
}


