/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  margin-right: 4px;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  background: #392d39;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
  margin-top: 10px;
}

#testao{
	width: 100%;
	height: 100px;
	margin-bottom: 25px;
}

header{
  width: 80%;
  height: 100px;
  float: left;
}

header img{
	width: 100%;
	max-width: 100px;
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#user{
	width: 20%;
	height: 50px;
	float: right;
}

#user img{
	margin-top: 5px;
	max-width: 40px;
	height: 40px;
	float: right;
	margin-right: 5px;
}

#user a{
	color: #0099cc;
}

#user p{
	float: right;
	margin-top: 14.5px;
	margin-right: 5px;
}

#user span{
	float: right;
	margin-top: 14.5px;
	margin-right: 25px;
}

nav{
	width: 90%;
	height: 50px;
	margin-bottom: 25px;
	margin-left:auto;
	margin-right: auto;
}

ul{
	width: 100%;
	height: 100%;
	margin-bottom: 25px;

}

li{
	width: 24.7%;
	height: 100%;
	background: #ffffff;
	border-radius: 10px;	
  	color: #004d00;
  	text-align: center;
  	vertical-align: bottom;
  	display: inline-block;
}

li p{
	margin-top: 14.5px;
	font-family: 'Josefin Sans', sans-serif;
  	text-decoration: none;
  	font-size: xx-large;
}


#map {
	margin-top:25px;
	width: 90%;
	height:520px;
	margin-left: auto;
	margin-right: auto;	
}

#novidades{
	width: 100%;
	height: 350px;
	display: block;
	background: #ffffff;
	margin-top: 50px;
}

#novidades h2{
	display: block;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}

#novidades article{
	width: 24.7%;
	height: 290px;
	display: inline-block;
}

#novidades article img{
	width: 100%;
	height: 100%;
}


